.building-details {
    padding: 120px 8rem 2rem 8rem;
}

.building-details-header {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
}

.building-details-content {
    display: flex;
    width: 30%;
    margin: 2rem auto;
    justify-content: space-between;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-11 {
    flex-basis: 20%;
}

.responsive-table .col-22 {
    flex-basis: 10%;
}

.responsive-table .col-33 {
    flex-basis: 10%;
}

.responsive-table .col-icon:hover {
    cursor: pointer;
    font-size: 1.05rem;
    transition: 0.2s;
}

.add-new-camara-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.device-modal-title {
    padding: 1rem 0.5rem 2rem 0.5rem;
}

.device-modal-buttons {
    margin-top: 1rem;
    width: 40%;
    margin-left: 60%;
    display: flex;
    justify-content: space-around;
}

.device-modal-content {
    padding: 0 0.5rem 1rem 0.5rem;
}

.device-modal-content label {
    display: block;
    margin-bottom: 0.5rem;
}

#device-type {
    width: 12rem;
}

#device-type, #device-address {
    padding: 0.2rem;
    outline: none;
}

.confirm-modal-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 18px;
}

.confirm-modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}