:root {
    --primary: #fff;
}

.login {
    width: 100vw;
    height: 100vh;
}

.login video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.login-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-content h1 {
    color: #fff;
    width: 100%;
    font-size: 5.5rem;
    text-align: center;
}

.login-content p {
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

.login-button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 3rem;
    font-family: 'PT Sans', sans-serif;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: solid 1px #fff;
    transition: all 0.3s ease-out;
    padding: 10px 32px;
    font-size: 20px;
}

.login-button:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.login-modal {
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.login-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.loading-section {
    margin-top: 3rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}