.navbar {
    background-color: rgb(243, 243, 243);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    padding: 0 5%;
}

.navbar-big {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
}

.navbar-item {
    text-decoration: none;
    color: #000;
}

.navbar-header {
    font-family: Helvetica, sans-serif !important;
    font-weight: bold;
    margin-bottom: 0;
}

#basic-nav-dropdown {
    color: #000;
}

.navbar-item:hover {
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-item-change:hover,
#basic-nav-dropdown:hover {
    color: rgb(139, 111, 111);
    transition: 0.2s;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5rem;
    height: 6rem;
}

.logo-wrapper .navbar-header:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.2s;
}
